/* Variáveis ROOT */
:root {
    --primary-color: #3498db;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --font-main: sans-serif;
}

/* CSS reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Estilos Globais */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.875rem;
}

header {
    border-style: solid;
    border-width: 0 0 1px 0;
}

section {
    padding: 3.25rem 0;
}

a {
    text-decoration: none;;
}

/* Layout Template */
.main-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.keyword-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-style: italic;
}

.keyword-list li:not(:last-child)::after {
    content: "|";
    margin-left: 8px;
}

.menu-list {
    list-style: none;
    padding: 0;
    justify-content: space-around;
    font-size: 1rem;
}

.flex {
    display: flex;
}

.menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    line-height: 1.2;
}

.width-100 {
    width: 100%;
}

.font-size-1 {
    font-size: 1.75rem;
}

.font-size-2 {
    font-size: 1.5rem;
}

.start-end-padding {
    padding: 1rem 0;
}

.hero-title {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0.75rem;
}

.btn-primary {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    margin-top: 2.25rem;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.hero-image-wrapper {
    margin-top: 2.25rem;
}

.content-block {
    max-width: 28.75rem;
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

/* Breakpoints */

@media (min-width: 768px) {}

@media (min-width: 1100px) {}