/* Variáveis ROOT */
:root {
    --primary-color: #3498db;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --font-main: sans-serif;
}

/* CSS reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Estilos Globais */

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.75rem;
}

header {
    border-style: solid;
    border-width: 0 0 1px 0;
}

/* Layout Template */
.main-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1.25rem;
}

.lista-tecnologias {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-style: italic;
}

.lista-tecnologias li:not(:last-child)::after {
    content: "|";
    margin-left: 8px;
}

.lista-menu {
    list-style: none;
    padding: 0;
    justify-content: space-around;
    font-size: 1rem;
}

.flex {
    display: flex;
}

.menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    line-height: 1.2;
}

.width-100 {
    width: 100%;
}

.font-size-2 {
    font-size: 1.5rem;
}

.end-padding {
    padding: 1rem 0;
}


/* Breakpoints */

@media (min-width: 768px) {}

@media (min-width: 1100px) {}